<%- include('partials/header') -%>
<section class="container">
    <section class="slideshow">
        <section class="carouselImage Slideimage1">
            <section class="text">
                <h2>Adventure Awaits!</h2>
            </section>
        </section>
        <section class="carouselImage Slideimage2">
            <section class="text">
                <h2>Adventure Awaits!</h2>
            </section>
        </section>
        <section class="carouselImage Slideimage3">
            <section class="text">
                <h2>Adventure Awaits!</h2>
            </section>
        </section>
        <section class="carouselImage Slideimage4">
            <section class="text">
                <h2>Adventure Awaits!</h2>
            </section>
        </section>
    </section>
    <section class="title">
        <h2>Adventure Awaits!</h2>
        <p>Select One Of The Many Trails Below</p>
    </section>
    <div class="missingPersons">
        <ul>
            <% trails.forEach(trail => { %>
            <li>
                <a href="<%= `/trails/${trail._id}` %>">
                    <img src="<%= trail.picture %>" alt="<%= `${trail.name}` %>" loading="lazy">
                    <p><a href="<%= `/trails/${trail._id}` %>"><%= `${trail.name}` %></a></p>
                    <p><a href="<%= `/trails/${trail._id}` %>"><%= `${trail.location}` %></a></p>
                    <p><a href="<%= `/trails/${trail._id}` %>"><%= `${trail.difficulty}` %></a></p>
                    <p><a href="<%= `/trails/${trail._id}` %>"><%= `${trail.length}` %></a></p>   
                </a>
            </li>
            <% }) %>
        </ul> 
    </div>
</section>
<%- include('partials/footer') -%>