<%- include('partials/header') -%>
<section class="profile-container">
	<section class="userContainer">
		<div class="userinfo">
			<p><span>UserName: </span>
				<%= `${user.name}`%>
			</p>
			<p><span>Email: </span>
				<%= `${user.email}`%>
			</p>
		</div>
		<div class="submissionContainer">
			<h2>Submit Your Own Hike/Trail Here</h2>
			<output class="notification" aria-live="polite"></output>
			<section>
				<form class="submissionform" id="add-trail-form" action="/trails/createTrail" method="POST"
					enctype="multipart/form-data">
					<div class="form">
						<label><span>Trail Name: </span><input type='text' placeholder='Enter a name' name='name'></label>
						<label><span>Miles: </span><input type='number' step='any' placeholder='Enter Length of Trail' name='length'></label>
						<label><span>Difficultly: </span><select name="difficultly">
								<option value="" disabled selected hidden>Select Difficultly:</option>
								<option value="Easy">Easy</option>
								<option value="Medium">Medium</option>
								<option value="Hard">Hard</option>
							</select></label>
						<label><span>Attractions: </span><select name="attractions">
								<option value="" disabled selected hidden>Select Attraction:</option>
								<option value="Waterfall">Waterfall</option>
								<option value="Views">Views</option>
								<option value="Flowers">Flowers</option>
								<option value="Lake">Lake</option>
								<option value="River">River</option>
								<option value="Forest">Forest</option>
								<option value="Wildlife">Wildlife</option>
								<option value="Beach">Beach</option>
								<option value="Cave">Cave</option>
								<option value="Hot Springs">Hot Springs</option>
								<option value="Historic Site">Historic Site</option>
								<option value="Rail Trails">Rail Trails</option>
								<option value="City Walk">City Walk</option>
								<option value="Pub Walk">Pub Walk</option>
								<option value="Event">Event</option>
							</select>
						</label>
					</div>
					<div class="form">
						<label><span>Suitability: </span>
							<select name="suitability">
								<option value="" disabled selected hidden>Suitability:</option>
								<option value="Dog Friendly">Dog Friendly</option>
								<option value="Kid Friendly">Kid Friendly</option>
								<option value="Stroller Friendly">Stroller Friendly</option>
								<option value="Wheelchair Friendly">Wheelchair Friendly</option>
								<option value="Paved">Paved</option>
								<option value="Partially Paved">Partially Paved</option>
							</select>
						</label>
						<label>
							<span>Route Type: </span>
							<select name="routeType">
								<option value="" disabled selected hidden> Select Route Type:</option>
								<option value="Out & Back">Out & Back</option>
								<option value="Loop">Loop</option>
								<option value="Point to Point">Point to Point</option>
							</select>
						</label>
						<label>
							<span>Location: </span>
							<select name="location">
								<option value="" disabled selected hidden> Select State:</option>
								<option value="Alabama">Alabama</option>
								<option value="Alaska">Alaska</option>
								<option value="Arizona">Arizona</option>
								<option value="Arkansas">Arkansas</option>
								<option value="California">California</option>
								<option value="Colorado">Colorado</option>
								<option value="Connecticut">Connecticut</option>
								<option value="Delaware">Delaware</option>
								<option value="Florida">Florida</option>
								<option value="Georgia">Georgia</option>
								<option value="Hawaii">Hawaii</option>
								<option value="Idaho">Idaho</option>
								<option value="Illinois">Illinois</option>
								<option value="Indiana">Indiana</option>
								<option value="Iowa">Iowa</option>
								<option value="Kansas">Kansas</option>
								<option value="Kentucky">Kentucky</option>
								<option value="Louisiana">Louisiana</option>
								<option value="Maine">Maine</option>
								<option value="Maryland">Maryland</option>
								<option value="Massachusetts">Massachusetts</option>
								<option value="Michigan">Michigan</option>
								<option value="Minnesota">Minnesota</option>
								<option value="Mississippi">Mississippi</option>
								<option value="Missouri">Missouri</option>
								<option value="Montana">Montana</option>
								<option value="Nebraska">Nebraska</option>
								<option value="Nevada">Nevada</option>
								<option value="New Hampshire">New Hampshire</option>
								<option value="New Jersey">New Jersey</option>
								<option value="New Mexico">New Mexico</option>
								<option value="New York">New York</option>
								<option value="North Carolina">North Carolina</option>
								<option value="North Dakota">North Dakota</option>
								<option value="Ohio">Ohio</option>
								<option value="Oklahoma">Oklahoma</option>
								<option value="Oregon">Oregon</option>
								<option value="Pennsylvania">Pennsylvania</option>
								<option value="Rhode Island">Rhode Island</option>
								<option value="South Carolina">South Carolina</option>
								<option value="South Dakota">South Dakota</option>
								<option value="Tennessee">Tennessee</option>
								<option value="Texas">Texas</option>
								<option value="Utah">Utah</option>
								<option value="Vermont">Vermont</option>
								<option value="Virginia">Virginia</option>
								<option value="Washington">Washington</option>
								<option value="West Virginia">West Virginia</option>
								<option value="Wisconsin">Wisconsin</option>
								<option value="Wyoming">Wyoming</option>
							</select>
						</label>
						<label>
							<span>Trail Image: </span>
							<input type="file" name="file">
						</label>
					</div>
					</section>
					<section class="gLink">
						<h2>Click on the map below to open up a separate tab for Google Maps</h2>
						<p>Once you've set up your trail/hike, copy the iframe url and paste that in the box below.</p>
						<section class="map">
							<a href="https://www.google.com/maps/dir/" target="_blank"><img src="/public/images/googleMaps.PNG"></a>
						</section>
						<section class="trailLink">
							<label><span>Google Maps Link: </span><input type='text' placeholder='Paste Link Here' name='gMaps'></label>
						</section>
					</section>
					<div class="description">
						<h2><span>Description:</span></h2><textarea placeholder='Description' name='description'></textarea>
					</div>
					<button class="submitbutton">Submit</button>
				</form>
		</div>
		<section>
			<h3>Your Submissions</h3>
			<%_ if(!trails || trails.length===0) { _%>
				<p>You have not submitted any trails</p>
				<% } else { %>
					<ul class="submissionslist">
						<% trails.forEach(trail=> { %>
							<li class="submission" data-id='<%= `${trail._id}` %>'>
								<a href="<%= `/trails/${trail._id}` %>"><img class="submissionimage"
										src="<%= trail.picture %>" alt="<%= `${trail.name}` %>" loading="lazy"
										width="64" height="64"></a>
								<a href="<%= `/trails/${trail._id}` %>" class="submissionname">
									<%= trail.name %>
								</a>
								<div class="submissionbuttons">
									<a class="submissionbutton"
										href="<%= `/trails/updateTrail/${trail._id}` %>">Update</a>
									<button class='del submissionbutton' data-id="<%= trail.id %>">Delete</button>
								</div>
							</li>
							<% }) %>
					</ul>
					<%_ } _%>
		</section>
	</section>
</section>
<%- include('partials/footer') -%>