<%- include('partials/header') -%>
<section class='container'>
  <section class="mainsectiontop">
        <article class="leftsection">
            <section id="submission">
                <p class="name"><span>Hike/Trail Name: </span><%= trail.name %></p>
                <p class="submittedby"><span>Submitted By: </span><%= trail.user.name %></p>
                <p class="datesubmitted"><span>Date Submitted: </span><%= new Intl.DateTimeFormat('en', {dateStyle: 'full', timeStyle: 'short'}).format(trail.createdAt) %></p>
                <% if(user && user.id==trail.user.id) { %>
                    <a class="update" href="<%= `/trails/updateTrail/${trail.id}` %>">Update</a>
                    <button class='del update' data-id="<%= trail.id %>">Delete</button>
                    <% } %>
                <section class="bigimage">                       
                    <img src="<%= trail.picture %>" alt="<%= trail.name %>">
                </section>
            </section>
        </article>
          <section class="mainsectionbottom">
                <section class="description">
                    <h2><span>Description</span></h2>
                    <p class=""><%= trail.description %></p>
                </section>
       <h2><span>Information</span></h2>
       <section class="infoWrapper">
            <section>
                <p class="attractions"><span>Attractions: </span><%= trail.attractions %></p>
                <p class="length"><span>Miles: </span><%= trail.length %></p>
                <p class="location"><span>Location: </span><%= trail.location %> </p>
            </section>
            <section>
                <p class="suitability"><span>Suitability: </span><%= trail.suitability %></p>
                <p class="routeType"><span>Route Type: </span><%= trail.routeType %> </p>
            </section>
        </section>
    </section>
        <article class="rightsection">
            <h2><span>Trail:</span></h2>
            <section class="map">
                <a><%= trail.gMaps %></a>
            </section>
        </article>
    </section>
  </section>
</section>
<%- include('partials/footer') -%>