<%- include('partials/header.ejs'); -%>
<section class="container">
  <section class="updateContainer">
		<p><span>UserName: </span><%= `${user.name}`%></p>
		<p><span>Email: </span><%= `${user.email}`%></p>
		<h2>Update Trail</h2>
		<form class="submissionform update-trail-form" action="/trails/createTrail" method="POST" enctype="multipart/form-data">
			<div class="form">
				<label><span>Hike/Trail Name: </span><input type='text' placeholder='Enter a name' name='name' value="<%= trail.name %>"></label>
				<label><span>Miles: </span><input type='number' step='any' name="length" value="<%= trail.length %>"></label>
				<label><span>Difficultly: </span><select name="difficultly">
                    <option value="" disabled selected hidden>Select Difficultly:</option>
					<option value="Easy" <%= trail.difficultly === 'Easy' && 'selected' %>>Easy</option>
					<option value="Medium" <%= trail.difficultly === 'Medium' && 'selected' %>>Medium</option>
					<option value="Hard" <%= trail.difficultly === 'Hard' && 'selected' %>>Hard</option>
				</select></label>
                <label><span>Attractions: </span><select name="attractions">
                    <option value="" disabled selected hidden>Select Attraction:</option>
					<option value="Waterfall" <%= trail.attractions === 'Waterfall' && 'selected' %>>Waterfall</option>
					<option value="Views" <%= trail.attractions === 'Views' && 'selected' %>>Views</option>
					<option value="Flowers" <%= trail.attractions === 'Flowers' && 'selected' %>>Flowers</option>
					<option value="Lake" <%= trail.attractions === 'Lake' && 'selected' %>>Lake</option>
					<option value="River" <%= trail.attractions === 'River' && 'selected' %>>River</option>
                    <option value="Forest" <%= trail.attractions === 'Forest' && 'selected' %>>Forest</option>
                    <option value="Wildlife" <%= trail.attractions === 'Wildlife' && 'selected' %>>Wildlife</option>
                    <option value="Beach" <%= trail.attractions === 'Beach' && 'selected' %>>Beach</option>
                    <option value="Cave" <%= trail.attractions === 'Cave' && 'selected' %>>Cave</option>
                    <option value="Hot Springs" <%= trail.attractions === 'Hot Springs' && 'selected' %>>Hot Springs</option>
                    <option value="Historic Site" <%= trail.attractions === 'Historic Site' && 'selected' %>>Historic Site</option>
                    <option value="Rail Trails" <%= trail.attractions === 'Rail Trails' && 'selected' %>>Rail Trails</option>
                    <option value="City Walk" <%= trail.attractions === 'City Walk' && 'selected' %>>City Walk</option>
                    <option value="Pub Walk" <%= trail.attractions === 'Pub Walk' && 'selected' %>>Pub Walk</option>
                    <option value="Event" <%= trail.attractions === 'Event' && 'selected' %>>Event</option>
					</select></label>
			</div>
			<div class="form">
				<label><span>Suitability: </span><select name="suitability">
                    <option value="" disabled selected hidden>Suitability:</option>
					<option value="Dog Friendly" <%= trail.suitability === 'Dog Friendly' && 'selected' %>>Dog Friendly</option>
					<option value="Kid Friendly" <%= trail.suitability === 'Kid Friendly' && 'selected' %>>Kid Friendly</option>
					<option value="Stroller Friendly" <%= trail.suitability === 'Stroller Friendly' && 'selected' %>>Stroller Friendly</option>
                    <option value="Wheelchair Friendly" <%= trail.suitability === 'Wheelchair Friendly' && 'selected' %>>Wheelchair Friendly</option>
                    <option value="Paved" <%= trail.suitability === 'Paved' && 'selected' %>>Paved</option>
                    <option value="Partially Paved" <%= trail.suitability === 'Partially Paved' && 'selected' %>>Partially Paved</option>
				</select></label>
				<label><span>Route Type: </span><select name="routeType">
                    <option value="" disabled selected hidden>Route Type:</option>
					<option value="Out & Back" <%= trail.routeType === 'Out & Back' && 'selected' %>>Out & Back</option>
					<option value="Loop" <%= trail.routeType === 'Loop' && 'selected' %>>Loop</option>
					<option value="Point to Point" <%= trail.routeType === 'Point to Point' && 'selected' %>>Point to Point</option>
				</select></label>
				<label><span>Trail Image: </span><input type="file" name="file"></label>
			</div>
		</form>
		<section class="gLink">
			<h2>Click on the map below to open up a separate tab for Google Maps</h2>
			<p>Once you've set up your trail/hike, copy the iframe url and paste that in the box below.</p>
			<section class="map">
				<a href="https://www.google.com/maps/dir/" target="_blank"><img src="/public/images/googleMaps.PNG"></a>
			</section>
			<section class="trailLink">
				<label><span>Google Maps iframe Link: </span><input type='text' placeholder='iframe Link' name='gMaps'></label>
			</section>
		</section>
			<div class="description">
				<h2><span>Description:</span></h2><textarea placeholder='Description' name='description'></textarea>
			</div>
			<div class="upCan">
				<button class="update">Update</button>
				<a class="update" href="/trails/<%= trail.id %>">Cancel</a>
			</div>
	</section>
</section>
<%- include('partials/footer') -%>
